/* General setup */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
    scroll-behavior: smooth;
}

body, html {height: 100%;}

/* General page setup */

.centerY {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

/* classes setup */

.displayType {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.sideBar {
    width: 20%;
    height: 100%;

    background-color: rgb(43, 65, 77);
    background-image: url("../images/tile.png");

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBar ul li {
    margin-top: 10px;
}

.sideBar ul li a {
    text-decoration: none;
    text-shadow: 2px 2px black;
    color: rgb(83, 115, 127);
    transition: 0.4s;
}

.sideBar .menu-main ul li a {
    font-size: 26px;
}

.sideBar .menu-main ul li a:hover {
    font-size: 30px;
}

.sideBar .menu-main ul li:first-child a {
    color: azure;
}

.sideBar .menu-language ul li a {
    font-size: 18px;
}

.sideBar .menu-language ul li a:hover {
    font-size: 20px
}

.imgPerfil {
    width: 90%;

    border-radius: 50%;
    border: solid 10px rgb(43, 65, 77);
}

.sideBar label {
    display: none;
}

.menu-main,
.menu-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.menu-main ul,
.menu-language ul {
    list-style-type: none;
}

.menu-language ul li a{
    font-size: 18px;
}

.content {
    width: 80%;
    height: 100%;

    background-color: azure;
    border-left: 5px solid rgb(209, 222, 222);
    overflow-y: scroll;
}

.wrapper{
    width: 100%;
    height: 300%;
}

.conteudoSobre,
.conteudoExperiencia,
.conteudoEducacao {
    width: 100%;
    height: 33.3%;
    padding-left: 5%;
    padding-right: 5%;
}
/* .conteudoSobre */
.conteudoSobre div a:first-of-type { /* email */
    text-decoration: none;
    color: rgb(83, 115, 127);
}

.conteudoSobre div a:first-of-type:hover {
    color: rgb(33, 65, 77);
}

.conteudoSobre h1,
.conteudoSobre h2,
.conteudoSobre p {
    padding-top: 20px;
}

.conteudoSobre h1 {
    font-size: 48px;
}

.conteudoSobre h2 {
    font-size: 28px;
    display: inline-block;
}

.conteudoSobre p {
    font-size: 20px;
}

.icons-social {
    margin-top: 20px;
}

.icons-social a {
    background-color: inherit;
    margin-right: 1%;
}

.icons-social i{
    font-size: 70px;

    transition: 0.4s;
}

.icons-social i:hover {
    transform: scale(1.2);
}

.icons-social a:first-of-type i {
    color: rgb(10, 102, 194);
}

.icons-social a:first-of-type i:hover {
    color: rgb(10, 62, 154);
}

.icons-social a:nth-of-type(2) i {
    color: rgb(43, 65, 77);
}

.icons-social a:nth-of-type(2) i:hover {
    color: rgb(3, 25, 37);
}

.icons-social a:nth-of-type(3) i {
    color: rgb(250, 20, 0);
}

.icons-social a:nth-of-type(3) i:hover {
    color: rgb(210, 20, 0);
}

.linkedin-icon,
.github-icon {
    width: 70px;
    height: 70px;
}
/**/
/* .conteudoExperiencia */
.conteudoExperiencia ul{
    list-style-type: none;
}

.conteudoExperiencia ul li {
    font-size: 36px;
}

.conteudoExperiencia ul i,
.conteudoExperiencia ul object {
    float: right;
    font-size: 50px;
    margin-right: 5px;
}

/* .conteudoExperiencia coloring */
.conteudoExperiencia ul i:first-of-type {
    color: rgb(242, 218, 28);
}

.conteudoExperiencia ul i:nth-of-type(2) {
    color: rgb(59, 153, 212);
}

.conteudoExperiencia ul i:nth-of-type(3) {
    color: rgb(235, 98, 42);
}

.conteudoExperiencia ul .displayExperiencia:nth-child(3) i:nth-of-type(1) {
    color: rgb(157, 33, 70);
}

.conteudoExperiencia ul .displayExperiencia:nth-child(3) i:nth-of-type(2) {
    color: rgb(245, 197, 0);
}

.conteudoExperiencia ul .displayExperiencia:nth-child(3) i:nth-of-type(3) {
    color: rgb(73, 12, 107);
}
/**/
/* .conteudoEducacao */
.conteudoEducacao h1 {
    font-size: 36px;
}

.conteudoEducacao h2 {
    font-size: 26px;
}

.conteudoEducacao div:not(:first-child) {
    margin-bottom: 20px;
}

.conteudoEducacao a {
    display: inline-block;
    text-decoration: none;
    color: rgb(83, 115, 127);

    transition: 0.4s;
}

.conteudoEducacao a:hover {
    color: rgb(33, 65, 77);
    font-size: 17px;
}

.conteudoEducacao i {
    font-size: 50px;
    float: left;
    margin-right: 10px;
}

.conteudoEducacao i:nth-of-type(1),
.conteudoEducacao i:nth-of-type(2) {
    color: gray;
}

.conteudoEducacao i:last-of-type {
    color: gold;
}
/**/
/* elements setup */
a {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
}

footer > span {
    font-size: 14px;
}
/* Screen queries */
@media screen and (max-width: 961px) {
    .displayType{
        flex-direction: column;
        height: 100%;
    }

    .sideBar {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 20%;
    }

    .sideBar .centerY { /* reset */
        position: static;
        transform: translateY(0);
        height: 100%;
    }

    .image {
        width: 20%;
    }

    .imgPerfil {
        border: solid 5px rgb(43, 65, 77);

        width: auto;
        height: 90%;

        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }

    .menu-flyout {
        display: flex;
        align-items: center;
    }

    .menu-main ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .content {
        width: 100%;
        height: 80%;
    }

    footer {
        transform: translateX(-50%);
    }

    footer > span {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    /* sideBar */
    .sideBar {
        height: 10%;
        justify-content: space-between;
    }

    .sideBar:has(input:checked) .menu-flyout {
        translate: 0 10%;
    }

    .imgPerfil {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }

    .sideBar label {
        display: flex;
        align-items: center;
    }

    .sideBar label i {
        font-size: 30px;
        text-shadow: 2px 2px black;
        color: rgb(83, 115, 127);
        padding-right: 1rem;
    }

    .menu-flyout {
        display: block;

        z-index: 1;
        inset: 0;
        position: fixed;
        translate: 100vw 10%;

        background-color: rgb(43, 65, 77);;
        transition: 0.4s;
    }

    .menu-main,
    .menu-language {
        height: 45%;
    }

    .menu-main ul li{
        display: block;
    }

    .menu-language {
        justify-content: end;
    }

    .menu-language ul li {
        padding-bottom: 1rem;
    }

    .content {
        height: 90%;
    }

    .content h2 span {
        display: block;
    }

    .icons-social {
        text-align: center;
    }
    /* conteudoExperiencia */
    .displayExperiencia {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 20px;
    }
}